{% extends "index.html" %}
{% block title %}Archives for {{ SITENAME }}{% endblock %}
{% block ogtitle %}Archives for {{ SITENAME }}{% endblock %}
{% block ogurl %}{{ SITEURL }}/archives{% endblock %}
{% block ogdesc %}{{ SITENAME }} — Archive{% endblock %}
{% block metadesc %}{{ SITENAME }} — Archive{% endblock %}
{% block canonicalurl %}{{ SITEURL }}/archives{% endblock %}
{% block content_header %}<header><h1>Archives for {{ SITENAME }}</h1></header>{% endblock %}

{% block content %}
<section class="h-feed" id="dates">
  {% for article in articles %}
    {% if loop.first or loop.previtem.date.year != article.date.year %}
    <h2>{{ article.date.year }}</h2>
    {% endif %}
    {% if loop.first or loop.previtem.date.year != article.date.year or loop.previtem.date.month != article.date.month %}
    <h3>{{ article.date.strftime("%b") }}</h3>
    {% endif %}
    <p class="h-entry">{{ article.date.day }}: <a class="u-url" href="{{ SITEURL }}/{{ article.url }}"><span class="p-name">{{ article.title }}</span></a></p>
  {% endfor %}
</section>
{% endblock %}
