{% extends "index.html" %}
{% block meta_title %}All Posts | {{ SITENAME }}{% endblock %}
{% block meta_url %}{{ SITEURL ~ "/" ~ ARCHIVES_URL }}{% endblock %}
{% block meta_desc %}All posts in chronological order{% endblock %}

{% block header %}<header><h1>{{ self.meta_desc() }}</h1></header>{% endblock %}

{% block content %}
<nav>
<dl class="h-feed">
  {% for article in dates|reverse %}
  {% if loop.first or loop.previtem.date.year != article.date.year %}
  <dt>{{ article.date.year }}</dt>
  <dd><dl>
  {% endif %}
    {% if loop.first or loop.previtem.date.year != article.date.year or loop.previtem.date.month != article.date.month %}
    <dt>{{ article.date.month }}</dt>
    <dd><dl>
    {% endif %}
      <dt>{{ article.date.day }}</dt>
      <dd class="h-entry">
        {% if article.category and article.category in HASHED_CATEGORIES %}(Note){% endif %}
	<a class="u-url p-name" href="{{ SITEURL ~ "/" ~ article.url }}">{{ article.title }}</a>
      </dd>
    {% if loop.last or loop.nextitem.date.year != article.date.year or loop.nextitem.date.month != article.date.month %}
    </dl></dd>
    {% endif %}
  {% if loop.last or loop.nextitem.date.year != article.date.year %}
  </dl></dd>
  {% endif %}
  {% endfor %}
</dl>
</nav>
{% endblock %}
