{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}
{% block ogtitle %}{{ article.title|striptags }}{% endblock %}
{% block ogurl %}{{ SITEURL }}/{{ article.url }}{% endblock %}
{% block ogimg %}{{ article.image or USER_LOGO_URL }}{% endblock %}
{% block ogtype %}article{% endblock %}
{% block ogdesc %}{{ article.summary|striptags }}{% endblock %}
{% block metadesc %}{{ article.summary|striptags }}{% endblock %}
{% block canonicalurl %}{{ SITEURL }}/{{ article.url }}{% endblock %}
{% block content_header %}{% endblock %}

{% block content %}
<section>
<article class="h-entry">
  <header class="post-info">
    <h1>
      <a class="u-url" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}"><span class="p-name">{{ article.title }}</span></a></h1>
    {% include 'article_address.html' %}

    {% if PDF_PROCESSOR %}
    | <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">Get the pdf</a>
    {% endif %}
    <p class="p-summary" style="display: none;">{{ article.summary | striptags }}</p>
  </header>

  <section class="e-content">
    {{ article.content }}
    <a href="https://fed.brid.gy/"></a>
  </section>
  {% if article.tags %}
  <footer>
    tags:
    {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    {% if not loop.last %}|{% endif %}
    {% endfor %}
  </footer>
  {% endif %}
</article>
</section>
{% endblock %}
{% block content_footer %}
<footer>
  <ul class="navigator">
    <li><a href="https://www.addtoany.com/share#url={{ SITEURL }}/{{ article.url }}">Share</a></li>
    <li><a href="{{ SITEURL }}/{{ CONTACT_URL }}">Say hi!</a></li>
    <li><a href="https://form.jotform.com/233346248810051">Subscribe to the newsletter</a></li>
  </ul>

  {% with target_url = article.url %}
  <p class="webmention"><span>Send a <a href="https://indieweb.org/Webmention">webmention</a> to this article:</span></p>
    {% include 'fragments/webmention.html' %}
  {% endwith %}

  <ul class="navigator">
  {% set p_art = article.prev_article
    if article.category not in SKIPPED_CATEGORIES
    else article.prev_article_in_category %}
  {% set n_art = article.next_article
    if article.category not in SKIPPED_CATEGORIES
    else article.next_article_in_category %}

  {% if p_art %}
  <li>
    <a href="{{ SITEURL }}/{{ p_art.url }}">
      Previous: {{ p_art.title }}
    </a>
  </li>
  {% endif %}
  {% if n_art %}
  <li {% if not p_art %}style="flex-grow: 1; text-align: right;"{% endif %}>
    <a href="{{ SITEURL }}/{{ n_art.url }}">
      Next: {{ n_art.title }}
    </a>
  </li>
  {% endif %}
  </ul>
</footer>
{% endblock content_footer %}
