{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}
{% block ogtitle %}{{ article.title|striptags }}{% endblock %}
{% block ogurl %}{{ SITEURL }}/{{ article.url }}{% endblock %}
{% block ogimg %}{{ article.image or USER_LOGO_URL }}{% endblock %}
{% block ogtype %}article{% endblock %}
{% block ogdesc %}{{ article.summary|striptags }}{% endblock %}
{% block metadesc %}{{ article.summary|striptags }}{% endblock %}
{% block canonicalurl %}{{ SITEURL }}/{{ article.url }}{% endblock %}

{% block content %}
<section>
<article>
  <header>
    <h1>
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
  </header>
  {% include 'article_infos.html' %}
  {% include 'sharethis.html' %}

  <section class="content">{{ article.content }}</section>

  <div class="hire_link"><a href="/pages/contact">Hire Me</a></div>

  <ul class="navigator">
  {% if article.prev_article %}
    <li><a href="{{ SITEURL }}/{{ article.prev_article.url}}">
      Previous: {{ article.prev_article.title }}
    </a></li>
  {% endif %}
  {% if article.next_article %}
    <li><a href="{{ SITEURL }}/{{ article.next_article.url}}">
      Next: {{ article.next_article.title }}
    </a></li>
  {% endif %}
</ul>

  {% if DISQUS_SITENAME %}
  <section class="comments">
    <h2>Comments</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_identifier = "{{ article.url }}";
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </section>
  {% endif %}
</article>
</section>
{% endblock %}
