{% extends "base.html" %}
{% block meta_title %}{{ article.title | striptags }} | {{ SITENAME }}{% endblock %}
{% block meta_url %}{{ SITEURL ~ "/" ~ article.url }}{% endblock %}
{% block meta_desc %}{{ article.summary | striptags }}{% endblock %}
{% block ogimg %}{{ article.image or USER_LOGO_URL }}{% endblock %}
{% block ogtype %}article{% endblock %}
{% block styles %}{{ article.style }}{% endblock %}

{% block content %}
<article class="h-entry">
  <header>
    <h1>
      <a class="u-url p-name" href="{{ SITEURL ~ "/" ~ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title | striptags }}">{{ article.title }}</a></h1>
    {% include 'article_address.html' %}

    {% if PDF_PROCESSOR %}
    | <a href="{{ SITEURL ~ "/pdf/" ~ article.slug }}.pdf">Get the pdf</a>
    {% endif %}
  </header>

  {# TODO check on microformat extraction if e-content is needed #}
  {{ article.content }}
  <p class="p-summary" style="display: none;">{{ article.summary | striptags }}</p>
  {% if article.tags %}
  <footer>
    tags:
    {% for tag in article.tags %}
    <a href="{{ SITEURL ~ "/" ~ tag.url }}">{{ tag }}</a>
    {% if not loop.last %}|{% endif %}
    {% endfor %}
  </footer>
  {% endif %}
</article>
{% endblock %}
{% block footer %}
{# TODO: Consider moving what belongs to the article to the article footer, and the rest to the global footer #}
<footer>
  <ul>
    <li><a id="addtoanylink" href="https://www.addtoany.com/share#url={{ SITEURL ~ "/" ~ article.url }}">Share</a></li>
    <li><a href="{{ SITEURL ~ "/" ~ CONTACT_URL }}">Say hi!</a></li>
  </ul>

  {% include 'fragments/webmention.html' %}

  <nav><ul>
  {% set p_art = article.prev_article
    if article.category not in SKIPPED_CATEGORIES
    else article.prev_article_in_category %}
  {% set n_art = article.next_article
    if article.category not in SKIPPED_CATEGORIES
    else article.next_article_in_category %}

  {# TODO: remove this when the subblog is done #}
  {% if p_art %}
  <li>
    <a href="{{ SITEURL ~ "/" ~ p_art.url }}">
      Previous: {{ p_art.title }}
    </a>
  </li>
  {% endif %}
  {% if n_art %}
  <li {% if not p_art %}style="flex-grow: 1; text-align: right;"{% endif %}>
    <a href="{{ SITEURL ~ "/" ~ n_art.url }}">
      Next: {{ n_art.title }}
    </a>
  </li>
  {% endif %}
  </ul></nav>
</footer>
{# TODO: consider moving these to the head using defer for the linked one #}
<script>
  var shareConfig = {};
  shareConfig.title = "{{ article.title }}";
  shareConfig.text = "{{ article.summary | striptags }}";
  shareConfig.url = "{{ SITEURL ~ "/" ~ article.url }}";
</script>
<script src="{{ SITEURL }}/theme/js/share.js"></script>
{% endblock %}
