<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="robots" content="index, follow" />
  <meta name="description" content="{% block metadesc %}{{ SITESUBTITLE }}{% endblock %}" />

  <meta property="og:title" content="{% block ogtitle %}{{ SITENAME }}{% endblock %}"/>
  <meta property="og:url" content="https:{% block ogurl %}{{ SITEURL }}{% endblock %}"/>
  <meta property="og:site_name" content="{{ SITENAME }}"/>
  <meta property="og:type" content="{% block ogtype %}website{% endblock %}"/>
  <meta property="og:description" content="{% block ogdesc %}{{ SITESUBTITLE }}{% endblock %}" />
  <meta property="og:image" content="https:{{ SITEURL }}{% block ogimg %}{{ USER_LOGO_URL }}{% endblock %}" />

  <link rel="canonical" href="{% block canonicalurl %}{{ SITEURL }}{% endblock %}" />

  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}

  <link rel="icon" type="image/png" href="{{USER_LOGO_ICON}}{{ VERSION }}" />
  <link rel="shortcut icon" type="image/png" href="{{USER_LOGO_ICON}}{{ VERSION }}" />
  <link href="//fonts.googleapis.com/css?family=Overlock&display=swap" rel="stylesheet" />
  <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/theme/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/theme/css/pygment.css" />
</head>

<body>
<header>
  <h1>
    <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
  </h1>
  <nav>
    <ul>
      {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}
      {% if DISPLAY_PAGES_ON_MENU %}
      {% for pa in pages %}
        <li><a href="{{ SITEURL }}/{{ pa.url }}">{{ pa.title }}</a></li>
      {% endfor %}
      {% endif %}
      {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
      {% endif %}
    </ul>
  </nav>
</header>
<main>
  {% block content %}{% endblock %}
  {% block sidebar %}{% endblock %}
</main>

<footer>
  <p><a rel="license" href="//creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="//i.creativecommons.org/l/by/4.0/80x15.png" /></a></p>
  <p><small>This blog by <a xmlns:cc="//creativecommons.org/ns#" href="//luord.com" property="cc:attributionName" rel="cc:attributionURL">Luis Orduz</a> is licensed under a <a rel="license" href="//creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</small></p>
</footer>

{% include 'analytics.html' %}
{% include 'disqus_script.html' %}
{% if SHARETHIS_ID %}
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property={{ SHARETHIS_ID }}&product=image-share-buttons' async='async'></script>
{% endif %}
</body>
</html>
