<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{{ SITENAME }} — {{ SITESUBTITLE }}{% endblock %}</title>

  <meta name="description" content="{% block metadesc %}{{ SITEDESCRIPTION }}{% endblock %}" />
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="robots" content="index, follow" />

  <meta property="og:title" content="{% block ogtitle %}{{ SITENAME }} — {{ SITESUBTITLE }}{% endblock %}"/>
  <meta property="og:url" content="{% block ogurl %}{{ SITEURL }}/{% endblock %}"/>
  <meta property="og:site_name" content="{{ SITENAME }}"/>
  <meta property="og:type" content="{% block ogtype %}website{% endblock %}"/>
  <meta property="og:description" content="{% block ogdesc %}{{ SITEDESCRIPTION }}{% endblock %}" />
  <meta property="og:locale" content="en_US"/>
  <meta property="og:image" content="{{ SITEURL }}/{% block ogimg %}{{ USER_LOGO_URL }}{% endblock %}" />
  <meta name="twitter:card" content="summary">

  <meta name="theme-color" content="#0072bb" />

  <link rel="canonical" href="{% block canonicalurl %}{{ SITEURL }}/{% endblock %}" />
  {% block alternate %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endblock %}

  <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ USER_LOGO_ICON }}{{ VERSION }}" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/normalize.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygment.css" />

  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link rel="webmention" href="https://webmention.io/luord.com/webmention" />
  <link rel="pingback" href="https://webmention.io/luord.com/xmlrpc" />
</head>

<body>
<header>
  <a href="{{ SITEURL }}/">
  <strong>
    {{ SITENAME }}
  </strong>
  <p>{{ SITESUBTITLE }}</p>
  </a>
  <nav>
    <ul>
      <li><a href="{{ SITEURL }}/">Home</a></li>
      {% if DISPLAY_PAGES_ON_MENU %}
      {% for pa in pages %}
        <li><a href="{{ SITEURL }}/{{ pa.url }}">{{ pa.title }}</a></li>
      {% endfor %}
      {% endif %}
      {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
      {% endif %}
      {% for title, link in MENUITEMS %}
        <li><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
<main>
  {% block content_header %}<header><h1>Articles</h1></header>{% endblock %}
  {% block content %}{% endblock %}
  {% block content_footer %}{% endblock %}
</main>

{% block sidebar %}{% endblock %}

<footer>
  <nav>
    <ul>
      <li><a rel="me" href="https://github.com/luord" aria-label="GitHub profile"><i aria-hidden="true" class="fab fa-github"></i></a></li>
      <li><a rel="me" href="https://gitlab.com/luord" aria-label="GitLab profile"><i aria-hidden="true" class="fab fa-gitlab"></i></a></li>
      <li><a rel="me" href="https://stackoverflow.com/users/4570188/" aria-label="StackOverflow profile"><i aria-hidden="true" class="fab fa-stack-overflow"></i></a></li>
      <li><a rel="me" href="https://linkedin.com/in/luord" aria-label="LinkedIn profile"><i aria-hidden="true" class="fab fa-linkedin"></i></a></li>
      <li><a rel="me" href="https://twitter.com/luord" aria-label="Twitter profile"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>
      <li><a rel="me" href="https://news.ycombinator.com/user?id=luord" aria-label="Hacker News profile"><i aria-hidden="true" class="fab fa-hacker-news"></i></a></li>
      <li><a rel="me" href="https://www.criticker.com/profile/luord" aria-label="Criticker profile"><i aria-hidden="true" class="fas fa-film"></i></a></li>
    </ul>
  </nav>
  <p><a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
  <small>This blog by <a href="https://luord.com">Luis Orduz</a> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</small></p>
</footer>
</body>
</html>
