{% extends "index.html" %}
{% block title %}Categories for {{ SITENAME }}{% endblock %}
{% block ogtitle %}Categories for {{ SITENAME }}{% endblock %}
{% block ogurl %}{{ SITEURL }}/categories{% endblock %}
{% block ogdesc %}{{ SITEDESCRIPTION }} — Categories{% endblock %}
{% block metadesc %}{{ SITEDESCRIPTION }} — Categories{% endblock %}
{% block canonicalurl %}{{ SITEURL }}/categories{% endblock %}
{% block content_title %}<h1>Categories for {{ SITENAME }}</h1>{% endblock %}

{% block content %}
<section>
  <dl>
  {% for category, articles in categories %}
      <dd><a href="{{ SITEURL }}/{{ category.url }}">{{ category }} ({{ articles|count }})</a></dd>
  {% endfor %}
  </dl>
</section>
{% endblock %}
