{% extends "base.html" %}
{% block content %}
<section id="main" class="h-feed">
{% if articles %}
{% for article in articles_page.object_list %}
{% if loop.length > 0 %}
{% if loop.first %}
  <ul>
{% endif %}
  <li>
    <article class="h-entry summary">
      <h2 class="p-name">
        <a class="u-url" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
          {{ article.title }}
        </a>
      </h2>
      {% include 'article_address.html' %}
      <p class="p-summary">{{ article.summary | striptags }}</p>
      <p>
        <a href="{{ SITEURL }}/{{ article.url }}">Read more...</a>
      </p>
    </article>
  </li>
{% if loop.last %}
  </ul>
{% if articles_page.has_previous() %}
{% include 'pagination.html' %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% else %}
  <h2>Pages</h2>
  {% for page in PAGES %}
    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
  {% endfor %}
{% endif %}
</section>
{% endblock content %}

{% block sidebar %}
<aside>
  <div class="h-card">
    <b>About</b>
    <p>
      <span class="p-note">{{ SITEDESCRIPTION }}</span>
    </p>
    <p>This blog primarily features essays about software engineering and tutorials on programming concepts or technologies I find interesting.</p>
    <p>
      I studied systems engineering/computer science in college and am always eager to learn about software development and operations.
      Not just because I love it, it's also my job so gotta stay up to date.
    </p>
    <p>
      I can help you with your web applications! <a href="{{ SITEURL }}/{{ MISSION_URL }}">Here's how</a>.
      If you want to know more about me, go <a href="{{ SITEURL }}/{{ ABOUT_URL }}">here</a>. If you just want to say hi,
      <a href="{{ SITEURL }}/{{ CONTACT_URL }}">here</a>.
    </p>
    <p>
      For short posts about more than software, check my <a href="{{ SITEURL }}/category/notes/">Notes</a>.
    </p>
  </div>
  {% if TAG_CLOUD_STEPS %}
    <b>Tags</b>
    <ul>
    {% for tag in tag_cloud %}
      <li><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  <b>Subscribe</b>
  <ul>
    {% if TAG_FEED_ATOM and tag is defined %}
      <li><a href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}"><svg><use href="/theme/icons.svg#feed" /></svg>Feed</a></li>
    {% elif TAG_FEED_RSS and tag is defined %}
      <li><a href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS.format(slug=tag.slug) }}"><svg><use href="/theme/icons.svg#feed" /></svg>Feed</a></li>
    {% elif CATEGORY_FEED_ATOM and category is defined %}
      <li><a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}"><svg><use href="/theme/icons.svg#feed" /></svg>Feed</a></li>
    {% elif CATEGORY_FEED_RSS and category is defined %}
      <li><a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}"><svg><use href="/theme/icons.svg#feed" /></svg>Feed</a></li>
    {% elif FEED_ALL_ATOM %}
      <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"><svg><use href="/theme/icons.svg#feed" /></svg>Feed</a></li>
    {% elif FEED_ALL_RSS %}
      <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"><svg><use href="/theme/icons.svg#feed" /></svg>Feed</a></li>
    {% endif %}
    {% if NEWSLETTER_URL %}
    <li><a href="{{ SITEURL }}/{{ NEWSLETTER_URL }}"><svg><use href="/theme/icons.svg#mail" /></svg>Newsletter</a></li>
    {% endif %}
  </ul>
  <b>Browse content by</b>
  <ul>
    <li><a href="{{ SITEURL }}/{{ CATEGORIES_URL }}"><svg><use href="/theme/icons.svg#categories" /></svg>Categories</a></li>
    <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}"><svg><use href="/theme/icons.svg#calendar" /></svg>Dates</a></li>
    <li><a href="{{ SITEURL }}/{{ TAGS_URL }}"><svg><use href="/theme/icons.svg#tags" /></svg>Tags</a></li>
  </ul>
</aside>
{% endblock %}
