{% extends "index.html" %}
{% block title %}Tags for {{ SITENAME }}{% endblock %}
{% block ogtitle %}Tags for {{ SITENAME }}{% endblock %}
{% block ogurl %}{{ SITEURL }}/tags.html{% endblock %}
{% block ogdesc %}{{ SITENAME }} — Tags{% endblock %}
{% block metadesc %}{{ SITENAME }} — Tags{% endblock %}
{% block canonicalurl %}{{ SITEURL }}/tags.html{% endblock %}
{% block content_title %}<h1>Tags for {{ SITENAME }}</h1>{% endblock %}

{% block content %}
<section>
  <dl>
  {% for tag, articles in tags|sort %}
    <dd><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} ({{ articles|count }})</a></dd>
  {% endfor %}
  </dl>
</section>
{% endblock %}
