{% extends "index.html" %}
{% block meta_title %}Tags | {{ SITENAME }}{% endblock %}
{% block meta_url %}{{ SITEURL ~ "/" ~ TAGS_URL }}{% endblock %}
{% block meta_desc %}Tags from posts in this blog{% endblock %}

{% block header %}<header><h1>{{ self.meta_desc() }}</h1></header>{% endblock %}

{% block content %}
<section>
  <dl>
  {% for tag, articles in tags|sort %}
    <dd><a href="{{ SITEURL ~ "/" ~ tag.url }}">{{ tag }} ({{ articles|count }})</a></dd>
  {% endfor %}
  </dl>
</section>
{% endblock %}
