.flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.desc {
    border: 1px solid black;
}

.chart {
    flex: 1 0 33.33%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart > h4 {
    top: 0;
    width: 152px;
    height: 152px;
    margin: 0;
    position: absolute;
    padding-top: 54px;
}

.chart > p {
    order: 1;
    margin-top: 1rem;
}

.chart > canvas {
    width: 152px;
    height: 152px;
}
