body {
  font-family: overlock;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444;
  color: #e4e4e4;
}

main {
  display: flex;
  max-width: 140ch;
  flex-wrap: wrap;
  justify-content: space-between;
}

body > header, body > footer, main > section {
  max-width: 70ch;
  padding: 2ch;
}

article {
  max-width: 70ch;
}

aside {
  margin-left: 10ch;
  width: 30ch;
  padding: 2ch;
}

footer {
  text-align: right;
}

body > header {
  align-self: center;
  text-align: center;
}

aside li, #main li, body > header li {
  list-style: none;
}

aside ul, #main ul, header ul {
  padding: 0;
}

body > header li {
  display: inline-block;
  margin-right: 2ch;
}

a {
  color: #63beff;
  text-decoration: none;
}

a:visited {
  color: #91d1ff;
}

a:hover {
  text-decoration: underline;
}

img {
  filter: grayscale(30%);
}

.summary {
  border-bottom: 1px solid;
}

aside li {
  line-height: 20px;
}

aside li a:before {
  font-family: FontAwesome;
  display: inline-block;
  width: 1.3em;
}

code {
  color: #f8f8f2;
  background: #272822;
}

#dev-profiles a:before {
  content: "\f120";
}

#soc-profiles a:before {
  content: "\f007";
}

.cat-link:before {
  content: "\f02c";
}

.arc-link:before {
  content: "\f073";
}

.tag-link:before {
  content: "\f02b";
}

.feed-link:before {
  content: "\f09e";
}

#dates h3 {
  margin-left: 3ch;
}

#dates h4, #dates p {
  display: inline-block;
}

#dates h4 {
  margin-left: 6ch;
}
