body {
  font: 15px/1.5em Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  color: #f1f1f1;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  max-width: 140ch;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

body > header, body > footer, main > section {
  max-width: 70ch;
  padding: 1.5ch;
  width: 100%;
  box-sizing: border-box;
}

aside {
  width: 30ch;
  padding: 2ch;
}

footer {
  text-align: right;
}

body > header {
  align-self: center;
  text-align: center;
}

pre {
  overflow: hidden;
  text-overflow: ellipsis;
}

aside li, #main li, body > header li, .navigator {
  list-style: none;
}

aside ul, #main ul, header ul {
  padding: 0;
}

body > header li {
  display: inline-block;
  margin-right: 2ch;
}

a {
  color: #21a3ff;
  text-decoration: none;
}

a:visited {
  color: #7fcaff;
}

a:hover {
  text-decoration: underline;
}

img {
  filter: grayscale(30%);
}

.summary {
  border-bottom: 1px solid;
}

aside li a:before {
  font-family: FontAwesome;
  display: inline-block;
  width: 1.3em;
}

code {
  color: #f8f8f2;
  background: #272822;
}

dt {
  text-decoration: underline;
  margin-top: 0.5em;
}

#dev-profiles a:before {
  content: "\f120";
}

#soc-profiles a:before {
  content: "\f007";
}

.cat-link:before {
  content: "\f02c";
}

.arc-link:before {
  content: "\f073";
}

.tag-link:before {
  content: "\f02b";
}

.feed-link:before {
  content: "\f09e";
}

#dates h3 {
  margin-left: 3ch;
}

#dates h4, #dates p {
  display: inline-block;
}

#dates h4 {
  margin-left: 6ch;
}

.sharethis-inline-share-buttons, .hire_link {
  margin-top: 1ch;
}

.navigator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
